.featured-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5rem 2rem;
}

.brand {

    padding: .5rem;
    display: flex;
    flex-direction: column;
    width: 25rem;
    min-width: 25rem;
    justify-content: center;
    align-items: center;

}

.brand:hover {
    transform: translateY(3px);
}